.navigation-bar {
  width: 100vw;
  height: 100px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(3, 3, 3, 0.9);
  overflow: visible;
}
/* .form-switch{
    margin-right: 260px;
  } */
.logo-home {
  width: 202px;
  height: 61px;
  /* object-fit: cover; */
  /* margin-left: 106px; */
}
.nav-item {
  /* border: 1px solid red; */
  display: inline-block;
  width: 100px;
}
/* #navbarSupportedContent{
    height: auto;
    border: 1px solid red;
  } */

.nav-menu {
  width: 610px;
  height: 50px;
  /* border: 1px solid orange; */
}
.nav-menu-link {
  width: auto; /* 67px */
  height: auto; /* 24px */
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: var(--Mild_White, #ebedec);
  text-align: center;
  font-size: 20px;
  /* border-bottom: 4px solid rgba(3, 3, 3, 0.9); */
  transition-property: font-size, border-bottom;
  transition-duration: 0.25s;
  /* transition-delay: 2s; */
}

.nav-menu-link:hover {
  width: auto;
  font-size: 23px;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: var(--Mild_White, #ebedec);
  font-weight: 700;
  letter-spacing: 0;
  border-bottom: 4px solid #ebedec;
  margin: 0;
}
.nav-menu-link:visited {
  width: auto; /* 67px */
  height: auto; /* 24px */
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: var(--Mild_White, #ebedec);
  text-align: center;
  font-size: 20px;
  transition-property: font-size, border-bottom;
  transition-duration: 0.25s;
}

#catering-logo {
  margin-right: 50px;
  width: 114px;
  height: 55px;
  object-fit: cover;
  /* background: url("../images/Catering_Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  opacity: 1;
  /* position: absolute;
  top: 16px;
  left: 1202px; */
  overflow: hidden;
}
.nav-menu-link-acitve {
  width: auto; /* 67px */
  height: auto; /* 24px */
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: #995a13;
  text-align: center;
  font-size: 23px;
  border-bottom: 4px solid #995a13;
  margin: 0;
}
.nav-menu-link-acitve:visited {
  width: auto; /* 67px */
  height: auto; /* 24px */
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: #995a13;
  text-align: center;
  font-size: 23px;
  border-bottom: 4px solid #995a13;
  margin: 0;
}
.nav-menu-link-acitve:hover {
  text-decoration: none;
  color: #995a13;
}

@media (max-width: 1023px) {
  .navigation-bar {
    height: 56px;
  }
  .logo-home {
    width: 110px;
    height: 32px;
  }
  #catering-logo {
    margin-right: 0;
    width: 64px;
    height: 26px;
  }
  .nav-item {
    width: 67px;
  }
  .nav-menu {
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
    /* border: 1px solid orange; */
  }
  .nav-menu-link {
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
  }
  .nav-menu-link:hover {
    font-weight: 400;
    font-size: 18px;
  }
  .nav-menu-link:visited {
    font-weight: 400;
    font-size: 18px;
  }
  .nav-menu-link-acitve {
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
  }
}

#mobileNavbar {
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.8);
}
.imgIcon {
  width: 43px;
  height: 43px;
}
.textIcon {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ebedec;
}
.textIcon-hover {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ebedec;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #ebedec;
}
.textIcon-active {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #995a13;
}
